.hamburger__menu {
    display: none;
}

@media screen and (max-width: 992px) {

    .hamburger__menu {
        margin-top: 7rem;
        background-color: rgba(255, 169, 134, 0.5);
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        transition: .3s;
    }

    .nav-item {
        padding-bottom: 15%;
    }
    
    .new__table {
    list-style-type: none;
      font-size: .8rem;
      padding-bottom: 0;
    }

}