/* .side-bar {
  background-color: #393a44;
  background: url("https://user-images.githubusercontent.com/104235709/188961759-b7e8547f-ce2f-4ab1-a489-5db6de191cf2.jpg");
  min-width: 200px;
} */

/* .background-image {
  background-image: url("https://user-images.githubusercontent.com/104235709/189022780-2b1e6a45-fb8d-4b86-845d-658b2d2b952f.jpg"); 
  background-size: cover; 
} */

/* .col {
  background-color: aquamarine;
} */
