/* .side-bar {
  background-color: #393a44;
  background: url("https://user-images.githubusercontent.com/104235709/188961759-b7e8547f-ce2f-4ab1-a489-5db6de191cf2.jpg");
  min-width: 200px;
} */

/* #nav {
  background-color: rgba(48, 48, 48, 0.500); 
  height:6.5rem;
  z-index: 2;
} */
