

/* FONTS */
@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.ttf')
  }

* {
font-family: 'Poppins Regular';
}

.show-menu {
  display: none;
}

.no-show-menu {
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgb(247, 244, 220);
        box-shadow: 0 10px 6px -6px rgb(224, 224, 224);  
        font-family: 'Poppins Regular'; 
        height: 7rem;
        overflow: hidden;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding-left: none;
}

#navbarSupportedContent20 {
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  column-gap: .1rem;
}

.nav__menu {
  position: relative;
  transition: .3s;
}

.burger__menu {
  display: none;
}

.nav-link {
  display: flex; 
    flex-direction:row;
     align-items: center; 
    transition: .3s;
}

a {
  color: gray;
  font-family: 'Poppins Regular';
  font-size: 100%;
}

a:hover {
  color: darksalmon;
  transition: 0.3s;
}

.logo img {
  width: 25px;
  height: 25px;
  margin-bottom: 22px;
}

.nav-item {
  list-style-type: none;
  font-size: .8rem;
  padding: .5rem 0;
}

.dropdown-items-big-screen {
  display: flex;
}

#logo {
  color: DarkSalmon;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

button:focus {
  outline: none;
}

.icon__font {
  display: none;
}

@media screen and (max-width: 992px) {
  .burger {
    background-color: rgb(247, 244, 220);
  }
  .nav__menu {
    display: none;
  }

  .icon__font__menu {
    
  }

  .burger__menu {
    display:block;
    margin-right: 0rem;
    padding-right: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: fit-content; 
  }

  .icon__font {
    font-size: 2rem;
    color: DarkSalmon;
    display: flex;
  }

  .animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    cursor: pointer;
  }
  
  .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }
  
  .animated-icon1 span {
    background: DarkSalmon;
  }
  
  .animated-icon1 span:nth-child(1) {
    top: 0px;
    
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 10px;
    
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 20px;
    
  }
}

@media screen and (max-width: 768px) {
  .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }

  #logo {
    margin-left: 5rem;
  }
  
}
@media screen and (max-width: 576px) {

  #logo {
    margin-left: 0rem;
  }

}

@media screen and (max-width: 350px) {
  
}
