@media screen and (min-width: 280px) {
    .center {
        text-align: center;
        margin: 1rem;
        background-color: rgba(250, 246, 211, 0.5);
        display: block;
        -webkit-box-shadow: 0 10px 6px -6px rgb(224, 224, 224);
        -moz-box-shadow: 0 10px 6px -6px rgb(224, 224, 224);
          box-shadow: 0 10px 6px -6px rgb(224, 224, 224);
    }
    
    .background-color {
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        border-color: orange;
    }



    .background-color:focus {
        outline: none;
    }
    
    .button-position {
        text-align: center;
        margin: 1rem;
    }

    #needs-validation center {
        display: block;
        margin-top: 0em;
    }

    .field {
        align-items: center;
        display: block;
        margin-left: 0;
    }
}