
    .res__form {
        border-color: rgb(255, 193, 112);
    }
    
    .background-color {
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        border-color: rgb(255, 193, 112);
    }



    .background-color:focus {
        outline: none;
    }
    
    .res__button {
        text-align: center;
        margin: 1rem;
        background-color: rgb(143, 143, 143);
        color: white;
    }

    .res__button:hover {
        background-color: rgb(255, 193, 112);
        color: white;
      }

    .field {
        align-items: center;
        display: block;
        margin-left: 0;
    }
