

.search_center {
    text-align: center;
    padding: 0px;
    color: darksalmon;
}

.search__button {
    background-color: rgb(143, 143, 143);
    color: white;
  }

.search__button:hover {
    background-color: rgb(255, 193, 112);
    color: white;
  }

#mobile_number {
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(255, 193, 112);
}

#mobile_number:focus {
    outline: none;
}

.form_style {
    padding:1rem;
    border-radius:10px;
    box-shadow: inset;
}

.search-text {
    font-size: 17px;
    padding: 1rem;
}

.background_color {
    background-color: rgba(250, 246, 211, 0.5);
    width: 19rem;
}
