.search_center {
    text-align: center;
    padding: 50px;
}

.form_style {
    padding:10px;
    border-radius:10px;
    box-shadow: inset;
}

.background_color {
    background-color: rgb(255, 255, 227);
}