.animated-text {
    background-image: -webkit-linear-gradient(DarkSalmon 50%, rgb(255, 193, 112) 50%);
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
  
  @-webkit-keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }
  
  @keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }

  .colorfulBtnTwo {
    background-color:grey;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 8;
    transition: 0.3s;
    padding: 10px;
    margin: 3px;
    font-weight: bold;
}

.reservations-list {
  background-color: rgba(250, 246, 211, 0.5);
  padding: 2%;
}

/* .message-window {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.description {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}

.display-picture {
  background-image: url("https://user-images.githubusercontent.com/104235709/189022780-2b1e6a45-fb8d-4b86-845d-658b2d2b952f.jpg");
  display: flex;
  justify-content: center;
}

#restaurant-picture {
  height: 25rem;
  width: 25rem;
  border-radius: 25%;
  background-size: cover;
  border-bottom: rgb(0, 0, 0) solid 1px;
  margin-left: 75%;
}

@media screen and (min-width: 280px) {
  #restaurant-picture {
    height: 15rem;
    width: 15rem;
    border-radius: 25%;
    background-size: cover;
    border-bottom: rgb(0, 0, 0) solid 1px;
  }

  .message-window {
    /* margin-left: 15%;
    margin-right: 15%; */
    /* margin-top: 2%;
    margin-bottom: 5%; */
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .display-picture {
    background-image: url("https://user-images.githubusercontent.com/104235709/189022780-2b1e6a45-fb8d-4b86-845d-658b2d2b952f.jpg");
    display: flex;
    justify-content: center;
  }

} 