/* FONTS */

@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins ExtraLight";
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf");
}

* {
  font-family: "Poppins Regular";
}

@media screen and (min-width: 280px) {

  .animated-text {
    background-image: -webkit-linear-gradient(
      DarkSalmon 50%,
      rgb(255, 193, 112) 50%
    );
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  @-webkit-keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }

  @keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }

  .colorfulBtnTwo {
    background-color: rgb(143, 143, 143);
    border-radius: 5px;
    border: 1px solid black;
    opacity: 8;
    transition: 0.3s;
    padding: 10px;
    margin: 0rem 0rem 0rem 0rem;
    font-weight: bold;
  }

  .reservations-list {
    padding: 2%;
  }

  .description {
    font-family: "Poppins Light";
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 2rem 2rem 2rem 3rem;
  }

  #restaurant-picture {
    height: 15rem;
    width: 15rem;
    border-radius: 25%;
    background-size: cover;
    margin: 0rem 0rem 2rem 5.5rem;
  }

  .message-window {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* .description-photo {
    display: grid;
    grid-template-columns: 1fr;
  } */

  .display-picture {
    background-image: url("https://user-images.githubusercontent.com/104235709/189022780-2b1e6a45-fb8d-4b86-845d-658b2d2b952f.jpg");
  }

  #no-reservations {
    margin: 1rem 2rem 1rem 2rem;
    color: rgba(255, 38, 0, 0.5);
    display: flex; 
    justify-content: center;
  }

  .reservations-list {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .animated-text {
    background-image: -webkit-linear-gradient(
      DarkSalmon 50%,
      rgb(255, 193, 112) 50%
    );
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
    font-size: 60px;
    margin-top: 4rem;
    
  }

  .description {
    font-family: "Poppins Light";
    font-size: 17px;
    margin: 4rem 40rem 4rem 42.5rem;
  }

  #restaurant-picture {
    height: 25rem;
    width: 25rem;
    border-radius: 25%;
    border-bottom: rgb(0, 0, 0) solid 1px;
    margin: 6rem 6rem 6rem 47rem;
    
    
  }

  .reservations-list {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: '1 1'
  }

  .tables_list {
    display: grid;
    grid-template-areas: '1 1 1 1';
    margin-left: 2rem;
    margin-right: 2rem;
  }


}