/* FONTS */

@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins ExtraLight";
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf");
}

* {
  font-family: "Poppins Regular";
}

@media screen and (min-width: 280px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .reservation-card {
    padding: 2rem 2rem;
    margin: 1rem 1rem;
    background-color: rgba(250, 246, 211, 0.5);
    max-width: 20rem;
  }

  #card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  #card-text {
    margin-bottom: 2rem;
    color: darksalmon;
  }

}

@media screen and (min-width: 768px) {
    #reservation-card {
        padding: 2rem 2rem 4rem 4rem;
        margin: 1rem 1rem;
        background-color: rgba(250, 246, 211, 0.5);
        
      }
    
      #card-text {
        margin-bottom: 2rem;
        color: darksalmon;
      }

}
