
#reservation-card {
    padding: 10px;
    margin: 2rem;
    border: black solid 1px;
    border-radius: 2rem;
    background-color: rgb(255, 255, 227);

}

#card-title {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

#card-label {
    color: #7C7C9C;
    margin-left: 1rem;
}

#card-text {
    margin-left: 1rem;
}

.colorfulBtn {
    background-color: rgb(255, 193, 112);
    border-radius: 5px;
    border: 1px solid black;
    opacity: 8;
    transition: 0.3s;
    padding: 10px;
    margin: 3px;
    font-weight: bold;
}

.colorfulBtnTwo {
    background-color:grey;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 8;
    transition: 0.3s;
    padding: 10px;
    margin: 3px;
    font-weight: bold;
}

.colorfulBtn:hover {
    opacity: 0.6
}
