/* FONTS */

@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins ExtraLight";
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf");
}

* {
  font-family: "Poppins Regular";
}


  .tables-list {
    border-radius: 20rem;
    background-color: rgba(250, 246, 211, 0.5);
    border: 3px solid rgb(245, 209, 161);
    text-align: center;
    padding: 50px;
    border-radius: 25%;
    margin: 2rem;
    color: DarkSalmon;
    height: 17rem;
    width: 17rem;
    
  }

  .card_img img {
    width: 25px;
    height: 25px;
    margin-bottom: 25px;
  }

  .list-group {
    list-style: none;
    margin: 1rem 1rem 1rem 1rem;
  }

  .tables_list {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 text-align: center;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 576px) {
    .tables_list {
    grid-auto-rows: minmax(100px, auto); 
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 0rem;
   text-align: center;
    }
  }


