.tables-list {
    border-radius: 20rem;
    background-image: url("https://user-images.githubusercontent.com/104235709/190276740-a2648ab1-849f-4092-a1e4-f877822f59ea.jpeg");
    border: 1px solid black;
    text-align: center;
    padding:50px;
    border-radius:50%;
    margin: 2rem;
}

.card-circle .card-title{
    font-weight:600;
     font-size:26px;
}

.card_img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.colorfulBtnTwo {
    border: 1px solid black;
    opacity: 8;
    transition: 0.3s;
    padding: 10px;
    margin: 3px;
    font-weight: bold;
}