.center {
    text-align: center;
    padding: 50px;
    margin-top: 9rem;
    background-color: rgba(250, 246, 211, 0.5);
}

.background_color {
    background-color: white;
        padding: 10px;
        border-radius: 15px;
        border-color: orange;
}

.today__button {
    background-color: rgb(143, 143, 143);
    color: white;
    margin: .6rem;
  }
  
  .today__button:hover {
    background-color: rgb(255, 193, 112);
    color: white;
  }



option {
    background-color: white;
    padding: 10px;
    border-radius: 15px;

}

.background_color:focus {
    outline: none;
}

.form-group {
    color: darksalmon;
}

#select {
    background-color: white;
}

/* @media screen and (max-width: 576px) {

} */